@charset "utf-8";
*{font-family:Arial,"微软雅黑";font-size:12px;}
body,ul,dl,ol,dt,dd,li,p,div,h1,h2,h3,h4,h5,h6,form,table,td,img,input,br{padding:0;margin:0}
a,button{text-decoration:none;}
a:hover{text-decoration:none}
*::after, *::before{box-sizing:none;border:none;}
img{border:none}
li{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;vertical-align:middle}
a{outline:none;blur:expression(this.onFocus=this.blur());}/*IE7去掉a点击虚线框*/
/*禁止文本域随意拖放大小*/
/* 清浮动*/
.clearfix{zoom:1;}
.clearfix:after{display:block;clear:both;content:""}
.fl{float:left}
.fr{float:right}

.display{
  display:inline-block;
  *display:inline;
  *zoom:1;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

